* {
  box-sizing: border-box;
}

body{
height: 3000px;
}

img{

	width: 30px;
}

.shell{

	margin: auto;
	max-width: 1000px;
}

ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
	position: relative;
	top: 20px;
	height: 100px;
  float: right;
}

li a {

  display: block;
	position: relative;
	top: 10px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.cont{
	height: 2600px;

  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header{
	position: relative;
	height: 300px;
  background-color: #4a89dc;
  border-radius: 12px 12px 0px 0px;
}

.intro{
	color: white;
	padding: 60px 0;
	text-align: center;
}

.profile-pic{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: absolute;
	top: 110px;
	left: 70px;
	width: 210px;
	height: 210px;
	border: 5px solid white;
}

.about{
	padding: 40px 40px 0 40px;
	display: table;
	clear: both;
	content: "";
	height: 240px;
}

.col-1{
	float: left;
	width: 46%;

}


.col-2{
	padding-left: 70px;
	float: left;
	width: 46%;

}


th,td{
	text-align: left;
}
td{
	padding-left: 30px ;
}

table{
	margin-left: 60px;
	margin-top: 50px;
	font-size:20px ;
	width: 100%;
}

hr:not([size]) {
    height: 1px;
}

hr {
  color: #adb5bd;
  background-color: currentColor;
  border: 0;    
  opacity: .25;
}

.mer{
	margin: 5px 0;
}

.wed{
	width: 400px;
}

.pad{
	padding: 20px 40px 0 40px;
	display: table;
	clear: both;
	content: "";
	height: 260px;
  width: 90%;

}

.card{
	border: 1PX solid #e5e5e5 ;
	width: 800PX;
	margin: 40PX 0 40PX 30PX;
	height: 200px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 2px 15px 0 rgba(0, 0, 0, 0.15);
}

.age{
	font-size: 13px;
	opacity: 0.8; 
}

input[type=text], select,input[type=email],textarea {
  width: 500px;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 90px;
  background-color: #4a89dc;
  color: white;
  padding: 14px 18px;
  margin: 8px 0;
  border: none;
  border-radius: 18px;
  cursor: pointer;
}


.formation{
	float: left;
	width: 56%;
}

.right{
	float: right;
	width: 36%;
}

.bot{
	padding: 20px 40px 0 40px;
	display: table;
	clear: both;
	content: "";
	height: 260px;

}


@media only screen and (max-width: 1000px) {


	body{
		height: 3900px;
	}

  .shell {
    width: 512px;
    margin: auto;
  }

  .cont{
  	height: 3750px;
  }

  .header{
  	height: 600px;
  }

  .intro{
  	padding: 360px 0;
  }

  .profile-pic{
  	left: 150px;
  }

  .about{
  	height: 500px;
  }

  .col-1{
  	width: 100%;
  }

  table{
  	margin: 10px;
  }

  .pad{
  	height: 400px;
  }

  .col-2{
		padding-left: 0px;
  }


	.card{
		border: 1PX solid #e5e5e5;
		width: 100%;
		margin: 40PX 0 40PX 30PX;
		height: 250px;
	  border-radius: 5px;
	  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 2px 15px 0 rgba(0, 0, 0, 0.15);
	}


	.formation{
		float: left;
		width: 100%;
	}

	.right{
		float: left;
		width: 100%;
	}


	input[type=text], select,input[type=email],textarea {
	  width: 420px;
	  padding: 8px 20px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	}

}
